@keyframes app-overlay-fadein {
  from { opacity: 0; }
  to { opacity:  .16; }
}

.app {
  display: grid;
  grid-template-columns: 25.6rem auto;
  transform: translateX(-25.6rem);
  transition: .4s transform ease-in-out;
  position: relative;
  width: calc(100% + 25.6rem);

  &.-sidebar-expanded {
    transform: translateX(0);
  }

  &.-sidebar-expanded:before {
    animation: app-overlay-fade-in .4s ease-in-out;
    background: #333;
    bottom: 0;
    content: '';
    left: 25.6rem;
    opacity: .16;
    position: absolute;
    right: 0;
    top: 0;
  }
}

.app-header {
  background: #fff;
  border-bottom: .1rem solid #ececec;
  grid-column: 2/3;
  height: 6.4rem;
}

.sidebar-toggle {
  color: #808080;  
  cursor: pointer;
  height: 6.4rem;
  padding: 0 3.2rem;

  > *[class*="fa-"] {
    font-size: 2.2rem;
  }

  &.-small > *[class*="fa-"] {
    font-size: 1.6rem;
  }

  > .close {
    margin-right: 1.6rem;
    font: normal 400 1.3rem 'Lato', sans-serif;
  }
}

.search-box {
  @extend .sidebar-toggle;
}

.app-sidebar {
  grid-column: 1/2;
  grid-row: 1/2;
  width: 25.6rem;

  > .header {
    @extend .app-header;
  }
}

.nav-item {
  color: #333;
  font: normal 400 1.6rem 'Lato', sans-serif;
  position: relative;

  &.-vertical:first-child {
    margin-top: 4rem;
  }

  &.-vertical:last-child {
    margin-bottom: 4rem;
  }

  & > a {
    display: inline-flex;
    position: relative;
  }

  &.-vertical > a {
    padding: 2.4rem 3.2rem;    
  }
}