@keyframes popup-overlay-fade-in {
  from { opacity: 0; }
  to { opacity: .16; }
}

@keyframes popup-overlay-fade-out {
  from { opacity: .16; }
  to { opacity: 0; }
}

.app {
  display: grid;
  grid-template-columns: 25.6rem 1fr;
  grid-template-rows: 6.4rem 1fr;
  transform: translateX(-25.6rem);
  transition: .4s transform ease-in-out;
  position: relative;
  width: calc(100% + 25.6rem);

  &.-sidebar-expanded {
    transform: translateX(0);
  }
}

.app-header {
  background: #fff;
  border-bottom: .1rem solid #ececec;
  grid-column: 2 / 3;
  height: 6.4rem;
}

.popup-overlay {
  background: #333;
  cursor: pointer;
  height: 100%;
  position: absolute;
  transform: translateX(25.6rem) translateY(0);
  width: calc(100% - 25.6rem);
  z-index: 99;

  &.-entering {
    animation: popup-overlay-fade-in .4s ease-in-out;
    opacity: .16; 
  }

  &.-entered {
    opacity: .16;
  }

  &.-exiting {
    animation: popup-overlay-fade-out .2s ease-in-out;
    opacity: 0;
  }

  &.-exited {
    opacity: 0;
  }
}

.sidebar-toggle {
  color: #808080;  
  cursor: pointer;
  height: 6.4rem;
  padding: 0 3.2rem;

  > *[class*="fa-"] {
    font-size: 2.2rem;
  }

  &.-small > *[class*="fa-"] {
    font-size: 1.6rem;
  }

  > .close {
    margin-right: 1.6rem;
    font: normal 400 1.3rem 'Lato', sans-serif;
  }
}

.search-box {
  @extend .sidebar-toggle;
}

.app-sidebar {
  grid-column: 1 / 2;
  grid-row: 1 / span 2;
  width: 25.6rem;

  > .header {
    @extend .app-header;
  }
}

.nav-item {
  color: #333;
  font: normal 400 1.6rem 'Lato', sans-serif;
  position: relative;

  &.-vertical:first-child {
    margin-top: 4rem;
  }

  &.-vertical:last-child {
    margin-bottom: 4rem;
  }

  & > a {
    display: inline-flex;
    position: relative;
  }

  &.-vertical > a {
    padding: 2.4rem 3.2rem;    
  }
}