/**
 * External Dependencies
 */
@import url("~bootstrap/dist/css/bootstrap-reboot.css");
@import url("https://fonts.googleapis.com/css?family=Athiti:500|Lato:300,400,400i|Pridi:300,500&subset=thai");

html, body {
  font-size: 62.5%;
}

._list-unstyled { list-style: none!important; }
._text-undecorated { text-decoration: none!important; }
._unmarding { margin: 0!important; }
._unpadding { padding: 0!important; }

._flex { display: flex!important; }
._flex-left { margin-right: auto!important; }
._flex-right { margin-left: auto!important; }
._flex-vertical-align-middle { align-items: center!important; }
._flex-horizontal-align-center { justify-content: center!important; }

._lowercase { text-transform: lowercase!important; }
._uppercase { text-transform: uppercase!important; }